.blog-entry:after {
	content: " ";
	display: block;
	border-bottom: 1px solid #aaa;
}
.blog-entry  {
	margin-left: -10px;
	margin-right: -10px; 
	padding-top:60px;
	padding-bottom:0;
	background: white; /*#f7f7f7;*/
	color: black;
	text-align: left; 
	font-size: 20px;
	font-weight: 900;
}

.blog-entry-date  { 
	display: inline-block;
	width: 13em;
	font-family: courier, monospace;
	font-size: 14px;
}

.blog-entry-date:before {
	content:url('calendar.png');
	padding-right: 4px;
}


img.blog {
	float: left; 
	margin-right: 20px; 
	margin-bottom: 10px; 
	height:96px ; 
	width:96px;
}

img.blog_fix {
	float: left; 
	margin-right: 20px; 
	margin-bottom: 10px;
}