.blog-entry:after {
	content: " ";
	display: block;
	border-bottom: 1px solid #aaa;
}
.blog-entry  {
	margin-left: -10px; 
	margin-right: -10px; 
	padding-top:60px;
	padding-bottom:0px;
	background: white; /*#f7f7f7;*/
	color: #a22;
	color: black;
	text-align: left; 
	font-size: 28px;
	font-weight: 900;
}

.blog-entry-date  { 
	/*padding-right: 60px; */
	display: inline-block;
	width: 12em;
	/*color: #a66;*/
	font-family: courier, monospace; 
	font-size: 14px;
}

img.blog {
	float: left; 
	margin-right: 20px; 
	margin-bottom: 10px; 
	height:96px ; 
	width:96px
}

img.blog_fix {
	float: left; 
	margin-right: 20px; 
	margin-bottom: 10px;
}