 h2 {	
	color: #f95959;
	font-size: 40px;
	font-family: courier, monospace;
	text-align: center;
	padding-top: 10px;
 }

 h3 {	
	font-size: 32px;
	font-family: courier, monospace;
	color: #5959b9;
 }

  h4 {	
	font-size: 22px;
	font-family: courier, monospace;
	color: #5959b9;
 }
